*{
    box-sizing: border-box;
}

.box{

    width: 200px;
    height: 200px;
    background-color: red;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 15px;
    max-width:600px;
}

.box1{
    border: 4px solid rgb(99, 23, 23);
    grid-column: span 2;
}
.box2{
    border: 4px double rgb(99, 23, 23);
}
.box3{
    border: 4px dashed rgb(99, 23, 23);
}
.box4{
    border: 4px dotted rgb(99, 23, 23);
}
.box5{
    border: 4px rgb(99, 23, 23);
}


.inner-div{
    background-color: red;
    height: 460px;
    width: 260px;
}
.middle-div{
    height: 500px;
    width: 300px;
    border:20px solid;
    border-top-color:blue;
    border-left-color:green;
    border-right-color:rgb(141, 134, 134);
    border-bottom-color:yellow;
}
.outer-div{
    height: 540px;
    width: 340px;
    border: 20px blueviolet solid;
    margin-top: 10px;
}